<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the todo page</h1>
    <ul>
        {% for all in allitems %}
            <li>{{ all.content }}
            <form action="/deleteTodo/{{all.id}}/" method="post">{% csrf_token %}
                <input type="submit" value="delete"/>
            </form>   
            </li>
            {% endfor %}
    </ul>
    <form action="/addTodo/" method="post">{% csrf_token %}
        <input type ="text" name="content"/>
        <input type="submit" value="add"/>
    </form>  

</body>
</html>